- resource_class.omniauth_providers.each do |provider|
    = link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-lg btn-social btn-facebook" do
        i.fa.fa-facebook.fa-fw
        = "Sign in with #{OmniAuth::Utils.camelize(provider)}"
