doctype html
head
  title
    | Home
  meta[charset="UTF-8"]
  meta[name="viewport" content="width=device-width, initial-scale=1"]
  link[rel="icon" type="image/png" href="images/icons/favicon.png"]
body.animsition
  = render :partial => 'layouts/header'
  section.section-slide
    .wrap-slick1
      .slick1
        .item-slick1.item1-slick1[style="background-image: url(images/slide1-01.jpg);"]
          .wrap-content-slide1.sizefull.flex-col-c-m.p-l-15.p-r-15.p-t-150.p-b-170
            span.caption1-slide1.txt1.t-center.animated.visible-false.m-b-15[data-appear="fadeInDown"]
              |  Welcome to
            h2.caption2-slide1.tit1.t-center.animated.visible-false.m-b-37[data-appear="fadeInUp"]
              |  QuartZ
            .wrap-btn-slide1.animated.visible-false[data-appear="zoomIn"]
              = link_to "Start", organizations_path, class: "btn1 flex-c-m size1 txt3 trans-0-4"
        .item-slick1.item2-slick1[style="background-image: url(images/master-slides-02.jpg);"]
          .wrap-content-slide1.sizefull.flex-col-c-m.p-l-15.p-r-15.p-t-150.p-b-170
            span.caption1-slide1.txt1.t-center.animated.visible-false.m-b-15[data-appear="rollIn"]
              |  Welcome to
            h2.caption2-slide1.tit1.t-center.animated.visible-false.m-b-37[data-appear="lightSpeedIn"]
              |  QuartZ
            .wrap-btn-slide1.animated.visible-false[data-appear="slideInUp"]
              = link_to "Start", organizations_path, class: "btn1 flex-c-m size1 txt3 trans-0-4"
        .item-slick1.item3-slick1[style="background-image: url(images/master-slides-01.jpg);"]
          .wrap-content-slide1.sizefull.flex-col-c-m.p-l-15.p-r-15.p-t-150.p-b-170
            span.caption1-slide1.txt1.t-center.animated.visible-false.m-b-15[data-appear="rotateInDownLeft"]
              |  Welcome to
            h2.caption2-slide1.tit1.t-center.animated.visible-false.m-b-37[data-appear="rotateInUpRight"]
              |  QuartZ
            .wrap-btn-slide1.animated.visible-false[data-appear="rotateIn"]
              = link_to "Start", organizations_path, class: "btn1 flex-c-m size1 txt3 trans-0-4"
      .wrap-slick1-dots
  section.section-welcome.bg1-pattern.p-t-120.p-b-105
    .container
      .row
        .col-md-6.p-t-45.p-b-30
          .wrap-text-welcome.t-center
            span.tit2.t-center
              |  Random Lunch
            h3.tit3.t-center.m-b-35.m-t-5
              |  QuartZ
            p.t-center.m-b-22.size3.m-l-r-auto
              |  "Random lunch" is a method of activating communication inside the company. QuartZ solves communication challenges in your organization with random lunch.
            a.txt4[href="https://www.wantedly.com/companies/zeals2"]
              |  Our Story
              i.fa.fa-long-arrow-right.m-l-10[aria-hidden="true"]
        .col-md-6.p-b-30
          .wrap-pic-welcome.size2.bo-rad-10.hov-img-zoom.m-l-r-auto
            img[src="images/our-story-01.jpg" alt="IMG-OUR"]
  = render :partial => 'layouts/footer'
