= render :partial => 'layouts/header'
doctype html
html[lang="en"]
  body.animsition
    section.bg-title-page.flex-c-m.p-t-160.p-b-80.p-l-15.p-r-15[style="background-image: url(../../../../images/bg-title-page-02.jpg);"]
      h2.tit6.t-center
        = @lunch.created_at.strftime('%Y-%m-%d(%a)')
    .section-gallery.p-t-118.p-b-100
      .wrap-gallery.isotope-grid.flex-w.p-l-25.p-r-25
        - @groups.each do |group|
          .item-gallery.isotope-item.bo-rad-10.hov-img-zoom.events.guests
            - if group.image_url.present?
              = image_tag(group.image_url.url)
            - else
              = image_tag("default.png")
            .overlay-item-gallery.trans-0-4.flex-c-m
              = link_to group.rank+1, organization_lunch_group_path(id: group.id, lunch_id: @lunch.id), class: "btn-show-gallery flex-c-m fa fa-search"
= render partial: 'layouts/footer'
