<!DOCTYPE html>
<html lang="en">
<body class="animsition">

	<!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(../../../../images/bg-title-page-02.jpg);">
		<h2 class="tit6 t-center">
			Gallery
		</h2>
	</section>

	<!-- Gallery -->
	<div class="section-gallery p-t-118 p-b-100">
		<div class="wrap-gallery isotope-grid flex-w p-l-25 p-r-25">
			<!-- - -->
			<% @groups.each do |group| %>
				<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom events guests">
					<%= image_tag(group.image_url) %>

					<div class="overlay-item-gallery trans-0-4 flex-c-m">
						<%= link_to '', organization_lunch_group_path(group.id), class: "btn-show-gallery flex-c-m fa fa-search" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</body>
</html>
