<!DOCTYPE html>
<html lang="en">
<body class="animsition">

	<!-- Title Page -->
	<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(../../../../images/bg-title-page-02.jpg);">
		<h2 class="tit6 t-center">
			<%= @lunch.created_at.strftime('%Y-%m-%d(%a)') %>
		</h2>
	</section>

	<!-- Gallery -->
	<div class="section-gallery p-t-118 p-b-100">
		<div class="wrap-gallery isotope-grid flex-w p-l-25 p-r-25">
			<!-- - -->
			<% @groups.each do |group| %>
				<div class="item-gallery isotope-item bo-rad-10 hov-img-zoom events guests">
					<!-- TODO: viewにロジックを書くのは良くないので、srcがnilの場合にデフォルト画像を表示するようjqueryを書く -->
					<% if group.image_url.present? %>
						<%= image_tag(group.image_url) %>
					<% else %>
						<%= image_tag("default.png") %>
					<% end %>
					<div class="overlay-item-gallery trans-0-4 flex-c-m">
						<%= link_to group.rank+1, organization_lunch_group_path(id: group.id, lunch_id: @lunch.id), class: "btn-show-gallery flex-c-m fa fa-search" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</body>
</html>
