footer.bg1
  .container.p-t-40.p-b-70
    .row
      .col-sm-6.col-md-4.p-t-50
        h4.txt13.m-b-33
          |  Contact Me 
        ul.m-b-70
          li.txt14.m-b-14
            i.fa.fa-map-marker.fs-16.dis-inline-block.size19[aria-hidden="true"]
            |  Tokyo, Japan 
          li.txt14.m-b-14
            i.fa.fa-envelope.fs-13.dis-inline-block.size19[aria-hidden="true"]
            |  teru_fukumoto@outlook.jp 
      .col-sm-6.col-md-4.p-t-50
        h4.txt13.m-b-32
          |  My Profle 
        ul
          li.txt14
            |  Name: Teruhisa Fukumoto 
          li.txt14
            |  Country: Japan 
          li.txt14
            |  Birth: 1992/03/24 
          li.txt14
            |  Gender: Male 
          li.txt14
            |  Organization: VPoE & Engineer at ZEALS 
      .col-sm-6.col-md-4.p-t-50
        h4.txt13.m-b-33
          |  Latest Social Account 
        .m-b-25
          span.fs-13.color2.m-r-5
            i.fa.fa-twitter[aria-hidden="true"]
          a.txt15[href="https://twitter.com/terry_i_"]
            |  @terry_i_ 
          p.txt14.m-b-18
            |  My Twitter account 
          span.fs-13.color2.m-r-5
            i.fa.fa-facebook-square
          a.txt15[href="https://www.facebook.com/teruhisa.fukumoto"]
            |  Teruhisa Fukumoto 
          p.txt14.m-b-18
            |  My facebook account 
          span.fs-13.color2.m-r-5
            i.fa.fa-medium
          a.txt15[href="https://medium.com/@teruhisafukumoto"]
            |  @teruhisafukumoto 
          p.txt14.m-b-18
            |  My Blog(Medium) 
          span.fs-13.color2.m-r-5
            i.fa.fa-github-square
          a.txt15[href="https://github.com/f-teruhisa"]
            |  f-teruhisa 
          p.txt14.m-b-18
            |  Github 
  .end-footer.bg2
    .container
      .flex-sb-m.flex-w.p-t-22.p-b-22
        .txt17.p-r-20.p-t-5.p-b-5[style="margin:auto;"]
          |  Copyright © 2018 All rights reserved | This template is made with 
          i.fa.fa-heart
          |  by 
          a[href="https://colorlib.com" target="_blank"]
            | Colorlib
